<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

    <title> .. * .. * . Super apartmani naj naj .. .</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/daxi.js"></script>
    <script src="/static/js/tooltip.js"></script>

    <!--
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    -->

    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
   
    <script>

    //  . .. . . . . Global . ..  .. . . . .

    // Selektirani apartman
    var selected = -1;
    var aps = {};

    // Kalendar, izabrani tjedan
    var tjedan = new Date();
    var kalendar_start_sat = 8;
    var kalendar_stop_sat = 23;
    var kalendar_start_dan;
    var kalendar_stop_dan;

    // Do the cosmetic 
    function onresize() {
      var w = document.documentElement.clientWidth;
      var h = document.documentElement.clientHeight;
      if (div = document.getElementById('mainvideo')) {
         if (w > 600) {
            div.style.left = '4px'; 
            div.style.top = '46px'; 
            if (w>1000) div.style.width = Math.floor(w/1.5).toString() + 'px';
             else div.style.width = Math.floor(w/1.7).toString() + 'px';
            div.style.height = (h - 82).toString() + 'px';
            if (div2 = document.getElementById('mainvideo2')) {
              div2.style.top = '44px';
              div2.style.left = (div.clientWidth + 12) + 'px';
              div2.style.width = (w - div.clientWidth - 36).toString() + 'px';
              div2.style.height = (h - 65).toString() + 'px';
           }
         } else {
           if (div2 = document.getElementById('mainvideo2')) {
             var dh = Math.floor(h/2);
             div.style.top = '46px'; 
             div.style.left = '4px'; 
             div.style.height = dh.toString() + 'px';
             div2.style.left = '4px';
             div2.style.top = (79 + dh).toString() + 'px';
             div.style.width = (w - 40).toString() + 'px';
             div2.style.width = (w - 30).toString() + 'px';
             div2.style.height = (h - div.clientHeight - 70).toString() + 'px';
           }
         }
      }
    }

   // Help ekrani

   function openNav(tip) {
      var elements = document.getElementsByClassName("overlay-content");
      for(var x=0; x<elements.length; x++)
      {
         elements[x].style.visibility = 'hidden';
         elements[x].style.height = '0px';
      }
      document.getElementById("myNav").style.padding = "8px";
      document.getElementById("myNav").style.visibility = 'visible';
      document.getElementById(tip).style.visibility = 'visible';
      document.getElementById(tip).style.height = '100%';
      document.getElementById("myNav").style.width = "100%";
   }

   function closeNav() {
      var elements = document.getElementsByClassName("overlay-content");
      document.getElementById("myNav").style.width = "0%";
      document.getElementById("myNav").style.padding = "0px";
   }

   function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
   }



   // . . . ..  Menu functions . . .. .
   function apLoad() {
      if (selected == -1) {
         alert('Please select apartment!'); return -1;
      }
      openNav('ics');
   }

   function apDelete() {
       if (selected == -1) {
         alert('Please select apartment!'); return -1;
      }
      var r = confirm('Delete the apartment "' + aps[selected].name + '" ?');
      if (r) {
         var formValues = {id: aps[selected].id};
         $.post('/api/main/delete', formValues)
              .done(function(data) {
                 window.location.reload();
              })
              // Error
              .fail(function(xhr, status, error) {
                 // error handling
                 alert(xhr.responseText);
              });

      }
   }

   function apCalendarLoad() {
      if (selected == -1) {
         alert('Please select apartment!'); return -1;
      }
      openNav('cal'); apCalendar();
   }

   function apCalendar(){
       if (selected == -1) {
         return -1;
      }
            
      $('#cal-error').hide();

      // global
      if (!tjedan) tjedan=new Date(); 
      gen_kalendar(tjedan)

      if (!kalendar_start_dan || !kalendar_stop_dan) return;

      // Dohvati podatke u range-u kalendara i farbaj
      var start = kalendar_start_dan.toISOString().split('T')[0];
      var stop = kalendar_stop_dan.toISOString().split('T')[0];

      var formValues = { id: aps[selected].id, start: start, end: stop, rnd: Math.random() * 1000 };
      $.get('/api/calendar/range', formValues)
         .done(function(data) {
             // Predji range kalendara, ako return upada - bojaj
             // kalendar_start_sat, kalendar_stop_sat
             // kalendar_start_dan, kalendar_stop_dan
             var rez = data['reservations'];
             var cl = data['cleaning'];

             rz2 = JSON.parse(rez);
             cl2 = JSON.parse(cl);

              // Loop (cleaning)

                for (var clc=0; clc<cl2.length; clc++) {
                   cld = cl2[clc];

                   // TODO: ubaciti ove sate u backend, da salje zajedno s datumima, sad mi se neda

                   for (var sati = 11; sati < 15; sati++) {
                        polje = '#kal-' + cld + '-' + sati;
                        zauzmi_polje(polje, ' . .. Ovdje je najbolje <br/> za čistiti . . ..', '#f6d040');
                   }
                }


             for (var i = 0; i < rz2.length; i++) {
                var j = rz2[i]['start'];
                j = j.replace(/\s/g, "T");
                var stdat = new Date(j);
                var j = rz2[i]['end'];
                j = j.replace(/\s/g, "T");
                var endat = new Date(j);
                
                var starth = stdat.getHours();             
                var endh = endat.getHours();             
                
                stdat = new Date(stdat.setHours(0,0,0,0));
                endat = new Date(endat.setHours(0,0,0,0));

                // Loop (reservations)

                var dani = new Date(kalendar_start_dan.setHours(0,0,0,0));
                var polje;
                for (dani = kalendar_start_dan; dani <= kalendar_stop_dan; dani = nextDay(dani, 1)) {
                   var dm = shortDashDat(dani);

                   for (var sati = kalendar_start_sat; sati < kalendar_stop_sat; sati++) {
                      if ((dani >= endat) && (sati >= endh)) break;  
                      if ((dani <= stdat) && (sati <= starth-1)) continue;  
                      if (dani >= stdat && dani <= endat) {
                         polje = '#kal-' + dm + '-' + sati;
                         zauzmi_polje(polje, 'Rezervirao: ' + rz2[i]['gost'] + '<br/>' + 'Od: ' + rz2[i]['start'] + '<br/>' + 'Do: '+ rz2[i]['end'], '#ffaa88');
                      }
                   }
                }
             }
         })
         // Error
         .fail(function(xhr, status, error) {
            // error handling
            $('#cal-error').html(xhr.responseText);
            $('#cal-error').show();
         });
   }

   $(document).ready(function(){
        // Screen setup
        onresize();
 
        var jwt = localStorage.getItem('jwtToken');
        
        // No JWT? Redirect to log in
        if (!jwt) window.location.href = '/login';

        // Add AUTH token header to all requests
        $.ajaxSetup({
           beforeSend: function(xhr) {
             xhr.setRequestHeader('Authorization', 'Bearer ' + jwt);
           }
        });
 
        // Load data (all apartments)
        // TODO: enable reload on change

        $.get('/api/main/load')

             // Ok, show data
            .done(function(data) {
               $('#usr').html(data.user);

               // Output apartments
               var apcnt = 0;
               $.each(data.apartments, function(k, v) {
                  aps[v.id] = v;
                  $('#yesap').append('<div id="' + v.id  + '" class="float-child"><img style="max-width:100; max-height:90%" src= "/static/images/' + v.image +  '"/><br/><small>' + v.name  + '</small></div>');
                  apcnt++;
               });

               // Select handlers
               $('.float-child').click(function() {
                  $('.float-child').css('border-color', '');
                  $(this).css('border-color', 'purple');
                  selected = $(this).attr('id');
                  $('#forap').html('.. . for apartment : <b>' + aps[selected].name + '</b> .. .' );
                  if (aps[selected].url) $('#icsurl').val(aps[selected].url);
                     else $('#icsurl').val('');
                  $('#ics-error').hide();
               });  

               // No apartments?
               if (apcnt < 1) $('#noap').show();
                else {
                   $('#yesap').show();
                }
             })

            // Error
            .fail(function(xhr, status, error) {
               // error handling
               if (xhr.status == '401') window.location.href = '/login';
               else alert(xhr.status);
            });


        // New apartment

        $("#newfrm").on('submit', function(event){
           event.preventDefault();
           $("#new-error").hide();
           $("#new-info").show();

           var formValues = $(this).serialize();

           // Random icon
           var rnd_s = localStorage.getItem('rnd');
           var rnd = getRandomInt(1,5);
           while (rnd == rnd_s) rnd = getRandomInt(1,5);
           var ico = 'house' + rnd + '.png';
           formValues += '&image=' + ico;
 
           $.post('/api/main/new', formValues)
              .done(function(data) {
                 rnd_s = localStorage.setItem('rnd', rnd);
                 window.location.reload();
              })
              // Error
              .fail(function(xhr, status, error) {
                 // error handling
                 $("#new-error").html(xhr.responseText);
                 $("#new-info").hide();
                 $("#new-error").show();
              });
        });

        // Load ICS URL

        $("#icsfrm2").on('submit', function(event){
           event.preventDefault();
           $("#ics-error").hide();
           $("#ics-info").show();

           var formValues = $(this).serialize();
           formValues += '&id=' + aps[selected].id; 

           $.post('/api/calendar/url', formValues)
              .done(function(data) {
                 alert(data.log);
                 window.location.reload();
              })
              // Error
              .fail(function(xhr, status, error) {
                // error handling
                 $("#ics-error").html(xhr.responseText);
                 $("#ics-info").hide();
                 $("#ics-error").show();
              });

        })

        // Load ICS file 

        $("#icsfrm1").on('submit', function(event){
           event.preventDefault();
           $("#ics-error").hide();
           $("#ics-info").show();

           var fd = new FormData(this);
           fd.append('id', aps[selected].id);

           //var files = $('#icsfile')[0].files;
           //if(files.length > 0) fd.append('file',files[0]);
           //  else {
           //    alert('Please select a file!'); return;
           //  }
            
           $('#loading').show();

           $.ajax({
             url: '/api/calendar/file',
             data: fd,
             processData: false,
             contentType: false,
             type: 'POST',
             success: function(data){
                $('#loading').hide();
                alert(data.log);
                window.location.reload();
             },
             error: function(xhr, status, error) {
                 $('#loading').hide();
                 $("#ics-error").html(xhr.responseText);
                 $("#ics-info").hide();
                 $("#ics-error").show();
              }
           }); 
        });
         
   });

    </script>

  </head>
  <body onresize="onresize();">
    <!-- page content -->
    <div class="header">
      <div style="float:left">
      <a href="/">
      <img src="/static/images/baltazar.png" style="height:48px; margin-top:-3px; vertical-align:middle; "/>
      </a>
     </div>
      <div style="float:left; padding-left:18px; padding-top:12px; overflow:hidden">


      <div style="position:absolute; top:7px; left:74px">
      <b> <span style="color:#eee">.. </span><span style="color:#eaeaea">*. * </span>Welcome, <span id="usr"></span> .. .</b>
      </div>

      </div>
      <div style="position:absolute; right:20px;"> 
   
<!--   Ako smo ulogirani - prikazujemo menu

       <div class="dropdown">
       <img src="/static/images/hamburger.svg" class="dropbtn">
       <div class="dropdown-content">
          <?php if ($tag) { ?>
          <a href="#" onclick="openNav('help_services')">Edit services</a>
          <a href="#" onclick="del_server()">Delete this server</a>
          <?php } ?>
          <a href="/?akcija=novi-live">New live server</a>
          <a href="/">My servers</a>
          <a href="/index.php?akcija=logout">Log out</a>
       </div>
       </div> 
 -->
      
<!-- ako nismo ulogirani - prikazujemo drugi menu!
-->

      <div class="dropdown">
      <img src="/static/images/hamburger.svg" class="dropbtn">
      <div class="dropdown-content">
          <a href="#" onclick="toggleFullscreen()">Full screen</a>
          <a href="/logout">Log out</a>
      </div>
      </div>


      </div>
    </div>
    <br/>
    <div class="main" style="width: 100%">


<!-- BEGIN APATRMANI -->

    <div id="mainvideo" style="background-color:#fff; border-radius:4px; height:300px; width:500px; border-radius: 15px; 
                               padding:10px; border:2px #bbb dashed; overflow:hidden; overflow-y: scroll; font-size:15px; position:absolute; left:10px;
                               padding-left: 18px; padding-top:18px;">

     <div id="yesap" style="display:none" class="float-container" style="width:100%">
     </div>

     <div id="noap" style="display:none"> 
     You have no apartments yet, so please add some and then you can import ICS calendars to them!
     <br/><br/>
     <center>
     <input type="button" class="bluebtn" value=" .. . Add .. ." style="" onclick="openNav('new')"/>
     </center>
     </div>
     <br/><br/>
    </div>

    <div id="mainvideo2" style="background-color:#fff; border-radius:4px; height:350px; width:500px; height:100px; border-radius: 15px;
                               padding:10px; border:2px #ddd solid; text-align: center; font-size:15px; position:absolute; 
                               padding-left:10px; padding-top:12px; padding-bottom:2px; overflow-y:scroll">

      <div style="width:95%; right:10px; text-align:left; margin-left: 10px; margin-bottom:18px">

<!--
       <div class="speech-bubble" style="font-size:14px">
       Some action history (TODO)</div>
      </div>
-->

<!--
        <div style="width:95px; text-align:left; padding:4px; padding-top:0px; float:left">
        <div style="margin-bottom:2px; margin-left:10px; margin-top:-8px">Enable sync</div>
        <div style="margin-bottom:2px; margin-left:10px">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label></div>
        </div>
       
        <span style="font-size:14px;">
        Enables auto loading ICS data from URLs.
        </span>
-->
       <div id="forap" style="padding:10px">
       Please select or add apartment . . .. 
       </div>
       <br/>
       <center>
       <div>
       <input type="button" class="orangebtn" value=" .. . Load data .. ." style="" onclick="apLoad()"/>
       <input type="button" class="greenbtn" value=" .. . Calendar .. ." style="" onclick="apCalendarLoad()"/>
       <input type="button" class="pinkbtn" value=" .. . Delete .. ." style="" onclick="apDelete()"/>
       <input type="button" class="bluebtn" value=" .. . Add .. ." style="" onclick="openNav('new')"/>
       </div>
       </center>

    </div> 
   

<!-- END APATRMANI -->


    </div>
  <div id="footer">

  </div>

  <div id="myNav" class="overlay">
    <div style="position:absolute;top:-8px;right:0px;z-index:100">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <br/>

    <div class="overlay-content" style="margin-top:0px" id="new">
       <span style="color:green">
        <div id="new-info" style="margin-bottom:12px;">Molim upisati naziv novog apartmana!</div>
        <div id="new-error" style="display:none;margin-bottom:12px;color:#a28"> .. . . </div>
        <form id="newfrm">
        <input type="text" name="name" placeholder="* Name..." />
        <br/>

        <input type="text" name="comment" placeholder="Comment..."/>
        <br/>
        <br/>
        <input type="submit" class="bluebtn" value="  Add  "/>
        </form>

       </span>
    </div>

    <div class="overlay-content" style="margin-top:0px;" id="ics">
       <span style="color:green">
        <div id="ics-info" style="margin-bottom:32px;">Molim učitajte kalendar! <br/> <span style="color:#f67344" id="urlx">Ako se učita URL - ostaje spremljen za sync. </span></div>
        <div id="ics-error" style="display:none;margin-bottom:12px;color:#a28"> .. . . </div>

        <form id="icsfrm1">
        <input type="file" name="icsfile" />
        <br/>
        <img src="/static/images/wait20.gif" style="display:none;" id="loading" />
        <br/>
        <input type="submit" class="bluebtn" value="  Load from file  "/>
        </form>
        <br/>
        <form id="icsfrm2">
        <input type="text" name="url" id="icsurl" placeholder="URL, blank to delete..."/>
        <br/>
        <br/>
        <input type="submit" class="bluebtn" value="  Load from URL  "/>
        </form>

       </span>
    </div>

    <div class="overlay-content" style="margin-top:0px;width:97%;overflow-y:scroll" id="cal">
       <span style="color:green">
        <div id="cal-error" style="display:none;margin-bottom:12px;color:#a28"> No calendar data, please load some .. . </div>
       </span>
<center>

<script>


// Dohvaća prethodni ponedjaljak

function getLastMonday(dat) {
  const date = dat;
  const today = date.getDate();
  const dayOfTheWeek = date.getDay();
  const newDate = date.setDate(today - (dayOfTheWeek || 7) + 1);
  return new Date(newDate);
}

// Kratki datum d.m.

function shortDat(dat) {
  return  dat.getDate()  + ". " + (dat.getMonth()+1) + "."; 
}


// Kratki datum Y-M-D

function shortDashDatFull(dat) {
  str =   dat.getFullYear() + '-'
          + ('0' + (dat.getMonth()+1)).slice(-2) + '-'
          + ('0' + dat.getDate()).slice(-2);
  return str;
}


// Kratki datum (alias)

function shortDashDat(dat) {
   return shortDashDatFull(dat)
}



// Uvecaj datum

function nextDay(dat, offset) {
  var ret = new Date(dat);
  return new Date(ret.setDate(ret.getDate() + offset));
}

// Tjedan dana od "dat"

function nextWeek(dat) {
  var ret = new Date(dat);
  return new Date(ret.setDate(ret.getDate() + 7));
}

// Tjedan dana prije "dat"

function prevWeek(dat) {
  var ret = new Date(dat);
  return new Date(ret.setDate(ret.getDate() - 7));
}

// Dan

function dan(index) {
   switch(index) {
      case 1: return 'PON';
      case 2: return 'UTO';
      case 3: return 'SRI';
      case 4: return 'ČET';
      case 5: return 'PET';
      case 6: return 'SUB';
      case 7: return 'NED';
   }
}

// Boja jedno polje kao zauzeto, + razlog
// format: #kal-Y-M-D-h

function zauzmi_polje(polje, razlog, boja) {
    var elem = $(polje)
    if (!elem) return;  

    $(elem).css('background-color', boja);
    $(elem).mouseover(function () {
      tooltip.show(razlog);
   });
   $(elem).mouseout(function () {
      tooltip.hide();
   });
}

// zauzima 1 dan u kalendaru
// in: dan, mjesec

function zauzmi_dan(d, m, razlog) {
   var f;
   var hcnt = kalendar_stop_sat - kalendar_start_sat;
   for (f=0; f<hcnt; f++) {
      zauzmi_polje('#kal-' + d + '-' + m + '-' + (kalendar_start_sat + f), razlog, '#ffaa88'); 
   }
}

// zauzima 1 dan u kalendaru do nekog sata
// in: dan, mjesec, do (sati ukljucivo)

function zauzmi_dan_do(d, m, dox, razlog) {
   var f;
   dox = parseInt(dox);
   var hcnt = dox - kalendar_start_sat;
   for (f=0; f<hcnt; f++) {
      zauzmi_polje('#kal-' + d + '-' + m + '-' + (kalendar_start_sat + f), razlog, '#ffaa88');
   }
}

// zauzima 1 dan u kalendaru od nekog sata
// in: dan, mjesec, do (sati ukljucivo)

function zauzmi_dan_od(d, m, odx, razlog) {
   var f;
   odx = parseInt(odx);
   var hcnt = kalendar_stop_sat - odx;
   for (f=0; f<hcnt; f++) {
      zauzmi_polje('#kal-' + d + '-' + m + '-' + (odx + f), razlog, '#ffaa88');
   }
}



// Generira kalendar u zadanom tjednu

function gen_kalendar(dat) {
   var f, r, ret;
   var start = kalendar_start_sat;
   var hcnt = kalendar_stop_sat - kalendar_start_sat;

   var mon = getLastMonday(dat);

   kalendar_start_dan = mon;
   kalendar_stop_dan = nextDay(mon,6);
    //alert(shortDat(nextDay(mon,1)));

   $('#kalendar').html('');
   
   // header
   var ret = $('#kalendar').append(
     '<tr style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px;"></tr>' 
   );
 
   ret.append('<td style="border: 1px gray; border-bottom: 0px; border-right: 0px;" align="center" width="12.5%"></td>'); 
   // datumi
   for (f=1; f<=7; f++) { 
 
      var day = nextDay(mon,f-1);
  
      ret.append('<td style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px; border: none; padding-top: 3px" align="center" width="12.5%"><span style="font-size:12px">' + shortDat(day) + '</span></td>'      );
   }
  
   // header - dani 
      var ret = $('#kalendar').append(
     '<tr style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px;"></tr>'
   );

   ret.append('<td style="border: 1px gray; border-bottom: 0px; border-right: 0px;" align="center" width="12.5%"></td>');
   // dani
   for (f=1; f<=7; f++) {
      ret.append('<td style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px; border-top: 0px; border: none; padding-bottom: 3px" align="center" ><span style="font-size:12px">' + dan(f) + '</span></td>');
   }


   // sati
   for (f=0; f<hcnt; f++) {
      $('#kalendar').append('<tr style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px;"></tr>');
   
      // vremena
      ret.append('<td rowspan="2" style="padding:0px;border: 1px solid rgb(200,200,200); border-bottom: 0px; border-left: 0px; border-right: 0px;" align="center" width="12.5%"><span style="font-size:10px">' + start + ' - ' + (start + 1) + '</span></td>');
 
      for (r=1; r<=7; r++) {

        var day = nextDay(mon,r-1);

         // ID chelija da ih poslije mozemo samo ofarbati! (format: kal-Y-M-D-h (start))
         var idc = 'kal-' + shortDashDat(day) + '-' + start;

         if (f % 2 == 0)  
              ret.append('<td id="' + idc  + '" style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px; height:100%; background-color:#fff" align="center" ><small>&nbsp;</small></td>');
         else
              ret.append('<td id="' + idc  + '" style="border: 1px solid rgb(200,200,200); border-bottom: 0px; border-right: 0px; height:100%; background-color:#f0f0f0" align="center" ><small>&nbsp;</small></td>');
      }
      start++;
   }

   // BOJANJE:

   //zauzmi_dan_do('1', '8', '13', '<strong>Rezervirao: </strong>mstrelar (Mario Strelar)<br /><strong>Termin: </strong>07:00 - 18:00<br /><strong>Razlog: </strong> test');
   //zauzmi_dan_od('30', '7', '15', '<strong>Rezervirao: </strong>mstrelar (Mario Strelar)<br /><strong>Termin: </strong>07:00 - 18:00<br /><strong>Razlog: </strong> test');
}


</script>

<div style="margin-left:-20px;">
<div style="margin-bottom:10px">
<a href="#" style="color:#444" onclick="tjedan=prevWeek(tjedan); apCalendar();">&#60;&#60; prethodni tjedan </a> | <a href="#" style="color:#444" onclick="tjedan=nextWeek(tjedan);  apCalendar();">sljedeći tjedan >></a>
</div>

<table width="85%" id="kalendar" class="kalendar" style="border: 1px solid gray; padding:0px; spacing:0px;"  cellpadding="0" cellspacing="0">
</table>
<center><table style="margin-left:-25px" cellspacing="8px" border="0"><tr><td width="25px"></td><td width="20px" bgcolor="#ffaa88" style="border: 1px solid rgb(128,128,128);">&nbsp;</td><td> zauzeto </td><td  width="20px" bgcolor="#f0f0f0" style="border: 1px solid rgb(128,128,128);">&nbsp;</td><td> slobodno </td><td  width="20px" bgcolor="#f6d040" style="border: 1px solid rgb(128,128,128);">&nbsp;</td><td> čišćenje </td></tr></table></center>
<br />
</div>

<br/>
<br/><br/>

</center>




    </div>


  </div>


  </body>

</html>

